
#result
{
    font-size: 600%;
    margin:0%;
}

#hex
{
    text-align: right;
    font-size: medium;
    margin: 0%;
}
#bin
{
    text-align: right;
    font-size: small;
    margin: 0%;
}

.dmantissa
{
    color:#E55;
}

.dexponent
{
    color:#55E;
}

.dsign
{
    color:#5E5;
}

.entries
{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#userinput
{
    margin: 5%;
}

.details
{
    display: block;
    columns: 2;
}

.details p
{
    display: block;
    font-size: small;
}

.tooltip
{
    display: inline;
    position: relative;
}
.tooltip .tooltiptext
{
    width: 200px;
    visibility: hidden;
    background-color: rgba(17, 17, 17, 0.420);
    color: azure;
    text-align: center;
    padding: 5px 0;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext
{
    visibility: visible;
}

ul
{
    list-style: none;
}

main
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    color: #555;
    text-shadow: 0.15rem 0.15rem rgba(17, 17, 17, 0.120);
}

noscript p
{
    background-color: azure;
    box-shadow: rgba(17, 17, 17, 0.120);
}

#jsEnabled
{
    display: none;
}