
#floatpoint
{
    max-width: 90%;
    align-content: center;
}

#result
{
    font-size: 600%;
    margin:0%;
}
#hexcont
{
    text-align: right;
    align-content: right;
    max-width: 100%;
    padding: 1%;
}
#hex
{
    text-align: right;
    font-size: small;
    margin-right: 0%;
    margin-left: auto;
    width:16ch;
    word-wrap: break-word;
    word-break: break-all;
    align-content: stretch;
}
#bincont
{
    text-align: right;
    align-content: right;
    max-width: 100%;
    padding: 1%;
}

#bin
{
    text-align: right;
    font-size: small;
    margin-right: 0%;
    margin-left: auto;
    width:16ch;
    word-wrap: break-word;
    word-break: break-all;
    align-content: stretch;
}

#flags
{
    width: 5%;
    height: 5%;
    display: block;
}

.dmantissa
{
    color:#E55;
}

.dexponent
{
    color:#55E;
}

.dsign
{
    color:#5E5;
}

.entries
{
    display: flexbox;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#userinput
{
    margin: 5%;
}

.details
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.details p
{
    display: block;
    font-size: small;
}

.details.c1
{
    grid-column: 1;
}

.details.c2
{
    grid-column: 2;
}

.tooltip
{
    display: inline;
    position: relative;
}
.tooltip .tooltiptext
{
    width: 300px;
    visibility: hidden;
    background-color: rgba(17, 17, 17, 0.620);
    color: azure;
    text-align: center;
    padding: 5px 0;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
    font-size: small;
    border-radius: 5px;
}

.tooltip:hover .tooltiptext
{
    visibility: visible;
}

ul
{
    list-style: none;
}

main
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    color: #555;
    text-shadow: 0.15rem 0.15rem rgba(17, 17, 17, 0.120);
}

noscript p
{
    background-color: azure;
    box-shadow: rgba(17, 17, 17, 0.120);
}

#jsEnabled
{
    display: none;
}